<table class="table table-hover info-table">
  <thead>
    <tr>
      <th><a [style]="stylish" href="#" (click)="order = 'bol_number'; reverse = !reverse;" [ngClass]="{'active': order == 'bol_number', 'up': order == 'bol_number' && reverse, 'down': order == 'bol_number' && !reverse}"><span [style.color]="tableTextColor">BOL Number</span></a></th>
      <th><a [style]="stylish" href="#" (click)="order = 'reference'; reverse = !reverse;" [ngClass]="{'active': order == 'reference', 'up': order == 'reference' && reverse, 'down': order == 'reference' && !reverse}"><span [style.color]="tableTextColor">Reference</span></a></th>
      <th>
        <a *ngIf="showShipper"  [style]="stylish" href="#" (click)="order = 'shipper'; reverse = !reverse;" [ngClass]="{'active': order == 'shipper', 'up': order == 'shipper' && reverse, 'down': order == 'shipper' && !reverse}"><span [style.color]="tableTextColor">Shipper</span></a>
        <a *ngIf="!showShipper"  [style]="stylish" href="#" (click)="order = 'consignee'; reverse = !reverse;" [ngClass]="{'active': order == 'consignee', 'up': order == 'consignee' && reverse, 'down': order == 'consignee' && !reverse}"><span [style.color]="tableTextColor">Consignee</span></a>
      </th>
      <th><a [style]="stylish" href="#" (click)="order = 'Flight'; reverse = !reverse;" [ngClass]="{'active': order == 'Flight', 'up': order == 'Flight' && reverse, 'down': order == 'Flight' && !reverse}"><span [style.color]="tableTextColor">Flight</span></a></th>
      <th>
        <a *ngIf="showOrg" [style]="stylish" href="#" (click)="order = 'ORG'; reverse = !reverse;" [ngClass]="{'active': order == 'ORG', 'up': order == 'ORG' && reverse, 'down': order == 'ORG' && !reverse}"><span [style.color]="tableTextColor">ORG</span></a>
        <a *ngIf="!showOrg" [style]="stylish" href="#" (click)="order = 'DES'; reverse = !reverse;" [ngClass]="{'active': order == 'DES', 'up': order == 'DES' && reverse, 'down': order == 'DES' && !reverse}"><span [style.color]="tableTextColor">DES</span></a>

      </th>
      <th><a [style]="stylish" href="#" (click)="order = 'eta'; reverse = !reverse;" [ngClass]="{'active': order == 'eta', 'up': order == 'eta' && reverse, 'down': order == 'eta' && !reverse}"><span [style.color]="tableTextColor">ETA</span></a></th>
      <th><a [style]="stylish" href="#" (click)="order = 'status'; reverse = !reverse;" [ngClass]="{'active': order == 'status', 'up': order == 'status' && reverse, 'down': order == 'status' && !reverse}"><span [style.color]="tableTextColor">Status</span></a></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shipment of shipments   | orderBy: order : reverse; let i = index">
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">{{shipment.bol_number}}</td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">{{shipment.reference}}</td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">
      <span *ngIf="showShipper" >{{shipment.shipper}}</span>
      <span *ngIf="!showShipper" >{{shipment.consignee}}</span>
    </td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">{{shipment.Flight}}</td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">
      <span *ngIf="showOrg">{{shipment.ORG}}</span>
      <span *ngIf="!showOrg">{{shipment.DES}}</span>
    </td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">{{shipment.eta}}</td>
    <td [style.background]="i % 2 == 0 ? tableRowColor1 : tableRowColor2" [style.color]="tableTextColor">{{shipment.status}}</td>
  </tr>
  </tbody>
  <!--<tbody>-->
    <!--<tr [style.background]="tableRowColor1">-->
      <!--<td >180860258W</td>-->
      <!--<td>NTL</td>-->
      <!--<td>@OMAHA NE US</td>-->
      <!--<td>WN893</td>-->
      <!--<td>PDX</td>-->
      <!--<td>July 07, 9:19 AM</td>-->
      <!--<td>-->
        <!--<p>Tendered to Airline</p>-->
        <!--<p>July 07, 9:16 AM ONT</p>-->
        <!--<p>Expected: July 07. 11:15 AM</p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">180860258W</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">NTL</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">WN893</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">PDX</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">July 07, 9:19 AM</td>-->
      <!--<td [style.background]="tableRowColor2" [style.color]="tableTextColor">-->
        <!--<p>Tendered to Airline</p>-->
        <!--<p>July 07, 9:16 AM ONT</p>-->
        <!--<p>Expected: July 07. 11:15 AM</p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>180860258W</td>-->
      <!--<td>NTL</td>-->
      <!--<td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>-->
      <!--<td>WN893</td>-->
      <!--<td>PDX</td>-->
      <!--<td>July 07, 9:19 AM</td>-->
      <!--<td>-->
        <!--<p>Tendered to Airline</p>-->
        <!--<p>July 07, 9:16 AM ONT</p>-->
        <!--<p>Expected: July 07. 11:15 AM</p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>180860258W</td>-->
      <!--<td>NTL</td>-->
      <!--<td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>-->
      <!--<td>WN893</td>-->
      <!--<td>PDX</td>-->
      <!--<td>July 07, 9:19 AM</td>-->
      <!--<td>-->
        <!--<p>Tendered to Airline</p>-->
        <!--<p>July 07, 9:16 AM ONT</p>-->
        <!--<p>Expected: July 07. 11:15 AM</p>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>180860258W</td>-->
      <!--<td>NTL</td>-->
      <!--<td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>-->
      <!--<td>WN893</td>-->
      <!--<td>PDX</td>-->
      <!--<td>July 07, 9:19 AM</td>-->
      <!--<td>-->
        <!--<p>Tendered to Airline</p>-->
        <!--<p>July 07, 9:16 AM ONT</p>-->
        <!--<p>Expected: July 07. 11:15 AM</p>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
</table>
