.info-table {
	thead {
		th {
			height: 52px;
			border-width: 2px 0 1px;
			border-style: solid;
			border-color: #000;
			font-size: 18px;
			line-height: 50px;
			color: #fff;
			padding: 0;
			a {
				color: #fff;
				display: block;
				position: relative;
				//background: #027ba3;
				//background: -moz-linear-gradient(top, #027ba3 0%, #013c50 100%);
				//background: -webkit-linear-gradient(top, #027ba3 0%,#013c50 100%);
				//background: linear-gradient(to bottom, #027ba3 0%,#013c50 100%);
				padding: 0 10px;
				&:after {
					content: '';
					position: absolute;
					right: 7px;
					top: 21px;
					border-width: 7px;
					border-style: solid;
					border-color: rgba(255,255,255,0.2) transparent transparent;
					display: none;
				}
				&.up {
					&:after {
						border-color: transparent transparent rgba(255,255,255,0.2);
						top: 14px;
					}
				}
				&:hover {
					text-decoration: none;
					background: #016c8f;
					background: -moz-linear-gradient(top, #016c8f 0%, #001a22 100%);
					background: -webkit-linear-gradient(top, #016c8f 0%,#001a22 100%);
					background: linear-gradient(to bottom, #016c8f 0%,#001a22 100%);
				}
				&:focus {
					text-decoration: none
				}			}

			.active {
				background: #016c8f !important;
				background: -moz-linear-gradient(top, #016c8f 0%, #001a22 100%);
				background: -webkit-linear-gradient(top, #016c8f 0%,#001a22 100%);
				background: linear-gradient(to bottom, #016c8f 0%,#001a22 100%);
				padding-right: 25px;
				&:after {
					display: block;
				}
			}
		}
	}
	tbody {
		tr:nth-child(2n) {
			td {
				background: #064778;
			}
		}
		td {
			font-size: 18px;
			color: #fff;
			line-height: 22px;
			padding: 11px 10px;
			letter-spacing: 0.5px;
			border: none;
			background: #00325d;
		}
	}
	p {
		margin: 0;
	}
}
