<div>
	<tabset class="tab-container">
		<tab heading="System">
			<div class="tab-col">
				<a class="logout-link" (click)="logout()" href="#">LOGOUT</a>
				<strong class="group-title">Refresh Interval</strong>
				<md-slider	[(value)]="refresh_int"
										[max]="maxRefreshInterval"
										(input)="onRefreshSliderChanged($event)"
										[min]="minRefreshInterval"
										[step]="step">
				</md-slider>
				<span>{{refresh_int}} minutes</span>
				<strong class="group-title">Scroll Interval</strong>
				<md-slider	[(value)]="scroll_int"
										[max]="maxScrollInterval"
										(input)="onScrollSliderChanged($event)"
										[min]="minScrollInterval"
										[step]="step">
				</md-slider>
				<span>{{scroll_int}} seconds</span>
			</div>
			<div class="tab-col">
				<div class="form-group">
					<strong class="group-title">Display Mode</strong>
					<ul class="radio-list">
						<li>
							<input type="radio" (change)="onTableColChange()"	[(ngModel)]="displayMode.model" [value]="0" name="list-1" id="shipped"/>
							<label for="shipped">Shipped</label>
						</li>
						<li>
							<input type="radio" (change)="onTableColChange()"	[(ngModel)]="displayMode.model"	[value]="1" name="list-1" id="consignee" />
							<label for="shipped">Consignee</label>
						</li>
					</ul>
					<strong class="group-title">Flight Display</strong>
					<ul class="radio-list">
						<li>
							<input type="radio" (change)="onTableColChange()"	[(ngModel)]="flightDisplay.model" name="list-2" [value]="0" id="org"/>
							<label for="org">Org</label>
						</li>
						<li>
							<input type="radio" (change)="onTableColChange()" [(ngModel)]="flightDisplay.model" name="list-2" [value]="1" id="des" />
							<label for="des">Des</label>
						</li>
					</ul>
					<ul class="radio-list">
						<li>
							<input type="checkbox" id="transit" checked="checked"/>
							<label for="transit">Show Transit</label>
						</li>
					</ul>
					<select class="form-control">
						<option>From Collection</option>
						<option>From Pack Out</option>
						<option>From Alternate</option>
					</select>
					<ul class="radio-list">
						<li>
							<input type="checkbox" id="expected-delivery"/>
							<label for="expected-delivery">Show Expected Delivery</label>
						</li>
						<li>
							<input type="checkbox" id="drop-delivery"/>
							<label for="drop-delivery">Drop Delivered</label>
						</li>
					</ul>
				</div>
			</div>
		</tab>
		<tab heading="Alerts" class="tab-alerts">
			<div class="tab-col">
				<ul class="radio-list">
					<li>
						<input type="checkbox" id="" checked="checked"/>
						<label for="">Primary Mark In Transit</label>
					</li>
				</ul>
				<input type="text" placeholder="30"/> higher than hours
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>Text Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>BG Color</span>
				</div>
				<br />
				<ul class="radio-list">
					<li>
						<input type="checkbox" id=""/>
						<label for="">Secondary Mark In Transit</label>
					</li>
				</ul>
				<input type="text" placeholder="68"/> higher than hours
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>Text Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>BG Color</span>
				</div>
			</div>
			<div class="tab-col">
				<ul class="radio-list">
					<li class="mark-eta-indent">
						<input type="checkbox" id=""/>
						<label for="">Mark ETA Note</label>
					</li>
					<li>
						<input type="radio" id="" name="eta-note"/>
						<label for="">Weather Delay</label>
					</li>
					<li>
						<input type="radio" id="" name="eta-note"/>
						<label for="">No Show Airline</label>
					</li>
					<li>
						<input type="radio" id="" name="eta-note"/>
						<label for="">Airline Delay</label>
					</li>
				</ul>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>Text Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>BG Color</span>
				</div>
			</div>
		</tab>
		<tab heading="Graphics">
			<div class="tab-col">
				<strong class="group-title">Business Logo</strong>
				<image-upload
					url="http://208.17.192.85:6544/api/v2/upload/"
					(onFileUploadFinish)="imageFinishedUploading($event)"
					(onRemove)="imageRemoved($event)"
					(isPending)="uploadStateChange($event)">
				</image-upload>
				<!--<image-upload-->
					<!--[max]="10"-->
					<!--[headers]="[-->
						<!--{ header: 'Authorization', value: 'JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOjEsImlhdCI6MTUwMTIyMjg5NX0.hCWHcQgwWzaUsUWi5sE3-hIL9LcT-XsCku0TSTSHFxxUdZIxrl8bpKCJC01toggXE931K0K3nh_u73kQLn9WDQ' }-->
					<!--]"-->

					<!--[url]="'http://208.17.192.85:6544/api/v2/upload/'"-->
					<!--[buttonCaption]="'Select'"-->
					<!--(uploadFinished)="uploadFinished($event)">-->
				<!--</image-upload>-->
				<strong class="group-title">Business Name {{name}}</strong>
				<input type="text" (ngModelChange)="onTextLogoChanged($event)" [ngModel]="pageSettings.settings.graphics.businessName" class="form-control" placeholder=""/>
			</div>
			<div class="tab-col">
				<strong class="group-title">Main Colors</strong>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
					<span>Title Bgnd Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'titleTextColor'" [color]="pageSettings.settings.graphics.titleTextColor"></color-picker>
					<span>Title Text Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'tableHeaderColor'" [color]="pageSettings.settings.graphics.tableHeaderColor"></color-picker>
					<span>Table Header Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'tableTextColor'" [color]="pageSettings.settings.graphics.tableTextColor"></color-picker>
					<span>Table text Color</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'tableRowColor1'" [color]="pageSettings.settings.graphics.tableRowColor1"></color-picker>
					<span>Table Row Color 1</span>
				</div>
				<div class="color-picker-holder">
					<color-picker (changed)="onColorChanged($event)" [param]="'tableRowColor2'" [color]="pageSettings.settings.graphics.tableRowColor2"></color-picker>
					<span>Table Row Color 2</span>
				</div>
			</div>
		</tab>
	</tabset>
</div>
