.color-picker-area {
  position: relative;
  color: #000;
	display: inline-block;
	margin: 5px 0 10px;
  button {
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
  input {
    padding: 0;
    width: 20px;
    height: 20px;
  }
}
.color-picker .arrow-right {
	top: 4px
}
